# API Exercise by Ari Sulistiyo Prabowo
This notebook is used to guide everyone who wants to understand about API and get the data from it.

1. **Spotify API**

2. **Twitter API**

____

## Prerequisite
- List
- Tupple
- Dictionary

### List

In [ ]:
example_list = ['Mawar','Jagung','Pizza Hut'] #list
display(example_list[0])
display(type(example_list[2]))
print()
display(example_list[0:2])
display(type(example_list[0:2]))
print()
for i in example_list:
  print(i)

'Mawar'

str

['Mawar', 'Jagung']

list

Mawar
Jagung
Pizza Hut

### Tupple

In [ ]:
example_tupple = ('Mawar','Jagung','Pizza Hut') #tupple
display(example_tupple[0])
display(type(example_tupple[2]))
print()
display(example_tupple[0:2])
display(type(example_tupple[0:2]))
print()
for i in example_tupple:
  print(i)

'Mawar'

str

('Mawar', 'Jagung')

tuple

Mawar
Jagung
Pizza Hut

### Dictionary

In [ ]:
example_dictionary = {
    "Name":"Abdul Ihsan",
    "Job":"Data Scientist",
    "Company":"Google"
}

display(example_dictionary)
display(example_dictionary['Name'])
print()
for x, y in enumerate(example_dictionary):
  print(x,y) #show the key
  # print(x,example_dictionary[y]) #show the value

{'Company': 'Google', 'Job': 'Data Scientist', 'Name': 'Abdul Ihsan'}

'Abdul Ihsan'

0 Name
1 Job
2 Company

In [ ]:
# list in dictionary
adv_dictionary = {
    "Name":"Abdul Ihsan",
    "Job":"Data Scientist",
    "Company":"Google",
    "Day-to-day":[{'Morning':'Meeting',
                   'Afternoon':'Presentation',
                   'Evening':'Coding'},
                  {'Weekend':'Bobo Cantik'}],
    "Remuneration":{"BPJS":{"BPJS-Kesehatan":"007",
                            "BPJS-Ketenagakerjaan":"008"}}
}
display(adv_dictionary['Name'])
display(adv_dictionary['Day-to-day'])
print()
display(adv_dictionary['Day-to-day'][0])
print()
display(adv_dictionary['Day-to-day'][1])
print()
display(adv_dictionary['Day-to-day'][0]['Evening'])

'Abdul Ihsan'

[{'Afternoon': 'Presentation', 'Evening': 'Coding', 'Morning': 'Meeting'},
 {'Weekend': 'Bobo Cantik'}]

{'Afternoon': 'Presentation', 'Evening': 'Coding', 'Morning': 'Meeting'}

{'Weekend': 'Bobo Cantik'}

'Coding'

## Spotify API
Register yourself in Spotify Developer --> https://developer.spotify.com/dashboard/login

In [ ]:
# # install spotipy library
!pip install spotipy

Collecting spotipy
  Downloading https://files.pythonhosted.org/packages/02/9b/25b96cd2f1e2174ac787099b386e2afd427bf78dfb11e1c5857affc3409d/spotipy-2.18.0-py3-none-any.whl
Collecting urllib3>=1.26.0
  Downloading https://files.pythonhosted.org/packages/5f/64/43575537846896abac0b15c3e5ac678d787a4021e906703f1766bfb8ea11/urllib3-1.26.6-py2.py3-none-any.whl (138kB)
     |████████████████████████████████| 143kB 4.5MB/s
Collecting requests>=2.25.0
  Downloading https://files.pythonhosted.org/packages/92/96/144f70b972a9c0eabbd4391ef93ccd49d0f2747f4f6a2a2738e99e5adc65/requests-2.26.0-py2.py3-none-any.whl (62kB)
     |████████████████████████████████| 71kB 5.0MB/s
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.1)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)
ERROR: google-colab 1.0.0 has requirement requests~=2.23.0, but you'll have requests 2.26.0 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: urllib3, requests, spotipy
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.26.0 spotipy-2.18.0 urllib3-1.26.6

In [ ]:
# Import and set up spotipy
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

cli_id = "012a56913a994aa2b1040d063841dcec"
sec_id = "3c758d6b1ba847718f92d3be3a5b960a"

client_credentials_manager = SpotifyClientCredentials(client_id = cli_id, 
                                                      client_secret = sec_id)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [ ]:
# Retrieve data from Spotify API
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0, 1000, 50):
  track_results = sp.search(q='year:2019', type='track', limit=50, offset=i)
  for i, t in enumerate(track_results['tracks']['items']):
    artist_name.append(t['artists'][0]['name'])
    track_name.append(t['name'])
    popularity.append(t['popularity'])
    track_id.append(t['id'])

In [ ]:
# load the data into dataframe
import pandas as pd
spotify_df = pd.DataFrame({'Artist Name':artist_name,'Track Name':track_name,
                           'Popularity':popularity,'Track ID':track_id})

print('Number of Row: {} and number of columns: {}'.format(spotify_df.shape[0],
                                                         spotify_df.shape[1]))
spotify_df.head(10)

Number of Row: 1000 and number of columns: 4

         Artist Name  ...                Track ID
0           Doja Cat  ...  60ynsPSSKe6O3sfwRnIBRf
1  Schoolgirl Byebye  ...  0UsmyJDsst2xhX1ZiFF3JW
2        Post Malone  ...  21jGcNKet2qwijlDFuPiPb
3          Hazy Year  ...  6NoCnaM3N02Pngli1xf0WL
4       Harry Styles  ...  6UelLqGlWMcVH1E5c4H7lY
5             Busted  ...  0ahXguyuTwD1gqpWKYqWYO
6        Roddy Ricch  ...  0nbXyq5TXYPCO7pr3N8S4I
7      Anthem Lights  ...  5rJw9VsPNdfnV9Ar97xZG2
8         Juice WRLD  ...  6Hj9jySrnFppAI0sEMCZpJ
9  Foster The People  ...  2ED8sc40RVFvgqao2r3Qqn

[10 rows x 4 columns]

## Twitter API

Register yourself in the Twitter Developer --> https://developer.twitter.com/en/apply-for-access

In [3]:
import tweepy as tw

API_KEY = "T280pFnl0esTCTyfoGFt98nop"
SECRET_KEY = "mCM3sMf0ZwtM667fc6j6Rh6BTAs4KVpDjtWebxAZ4DS0jAmV1K"
BEARER_KEY = "AAAAAAAAAAAAAAAAAAAAANkPRgEAAAAAvbI6AauwzAHRrbAX3Qw4us5L9aU%3Dp5FMIZXLOaFvlePZTKnJzuLbwMttldBRlCBieV2tXODpp3NVso"
ACCESS_TOKEN = "1413641596340379649-MvWmdaLaZzsq9FB2myk8D8rjryWqpW"
SECRET_TOKEN = "bg2QW0aStAUggMxq9sJrN8K0nCNfzhVoEVzrMJiMVjbOR"

auth = tw.OAuthHandler(API_KEY, SECRET_KEY)
auth.set_access_token(ACCESS_TOKEN, SECRET_TOKEN)
api = tw.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

search_words = "#covid-19"


import pandas as pd
counter = 1

tweet_dataset = pd.DataFrame(columns=['Tweet Id', 'Tweet Date', 'Follower Count', 'Account Verified', 'Favorite Count', 'Retweets', 'Tweet Text'])

for tweet in tw.Cursor(api.search, tweet_mode='extended', q=search_words, lang="en").items():
        appending_dataframe = pd.DataFrame([[tweet.id, tweet.created_at, tweet.user.followers_count, tweet.user.verified, tweet.favorite_count, tweet.retweet_count, tweet.full_text.encode('utf-8')]], columns=['Tweet Id', 'Tweet Date', 'Follower Count', 'Account Verified', 'Favorite Count', 'Retweets', 'Tweet Text'])
        tweet_dataset = tweet_dataset.append(appending_dataframe)
        counter+=1
        if counter >= 1000:
            break

In [4]:
display(tweet_dataset.shape)
tweet_dataset.head()

(999, 7)

              Tweet Id  ...                                         Tweet Text
0  1416214747293360134  ...        b'RT @FirstGentleman: Nobody:\n\nCovid-19:'
0  1416214744432726016  ...  b"RT @RawStory: Texas man who called vaccines ...
0  1416214744390844418  ...        b'RT @FirstGentleman: Nobody:\n\nCovid-19:'
0  1416214743816314881  ...  b'JUNTA USES COVID AS WEAPONS\n\n#MyanmarNeeds...
0  1416214743661035520  ...  b'RT @ZNeveri: Young doctor explains why he\xe...

[5 rows x 7 columns]