#**Dataframe Introduction**

created by Ari Sulistiyo Prabowo


This notebook is created to teach student about dataframe introduction. All the code is free to reuse by everyone.

**Contents**
- Understanding about **List**, **Tuple**, **Numpy Array** and **Pandas Series**
- Create pandas dataframe
- Read file using pandas dataframe
___

In [ ]:
#import library
import pandas as pd
import numpy as np

### Understanding about **List**, **Tuple**, **Numpy Array** and **Pandas Series**

In [ ]:
# List
example_list1 = [1, 2, 3]
example_list2 = ["Book", "Movie", "Stock"]

display(type(example_list1))
display(type(example_list2))

# List Immutable
example_list1[0] = 100

display(example_list1)

list

list

[100, 2, 3]

In [ ]:
# Tuple
example_tupple1 = (1, 2, 3)
example_tupple2 = ("Book", "Movie", "Stock")

display(type(example_tupple1))
display(type(example_tupple2))

# Tupple Immutable
example_tuple1[0] = 100

SyntaxError: ignored

In [ ]:
# Numpy array
a1 = np.array([1,2,3])
a2 = np.array([[1,2,3],[3,2,1]])

# type
display(type(a1))
display(type(a2))

# mutable
a1[0] = 100     #change value from index 0 to the value of 100
a2[0] = [100, 200, 300]     #change value from index 0 to the value of [100, 200, 300]

display(a1)
display(a2)

numpy.ndarray

numpy.ndarray

array([100,   2,   3])

array([[100, 200, 300],
       [  3,   2,   1]])

In [ ]:
# Pandas Series
example_pd_series1 = pd.Series([0,1,2,3,4])

# type
type(example_pd_series1)

# mutable
example_pd_series1[0] = 100

display(example_pd_series1)

0    100
1      1
2      2
3      3
4      4
dtype: int64

### Create pandas dataframe

#### List & Dataframe

In [ ]:
list1 = ["Joy","Steward","Nelly"]
list2 = [23, 28, 25]
zipper = zip(list1, list2)
list(zipper)

[('Joy', 23), ('Steward', 28), ('Nelly', 25)]

In [ ]:
list1 = ["Joy","Steward","Nelly"]
list2 = [23, 28, 25]
list3 = ["Medan","Jakarta","Surabaya"]

dataframe_list = pd.DataFrame(list(zip(list1, list2, list3)), 
                              columns=['Name','Age','Location'])
dataframe_list

      Name  Age  Location
0      Joy   23     Medan
1  Steward   28   Jakarta
2    Nelly   25  Surabaya

#### Tupple & Dataframe

In [ ]:
tupple1 = ("Harry Potter",8)
tupple2 = ("Jack Bordon", 5)

dataframe_tupple = pd.DataFrame([tupple1, tupple2], columns=["Name", "Rating"])
dataframe_tupple

           Name  Rating
0  Harry Potter       8
1   Jack Bordon       5

#### Numpy Array & Dataframe

In [ ]:
array = np.array([["Meetball",5,7.7], ["Fried Rice",3,8.0],["Pizza",10.0,9.0]])

dataframe_array = pd.DataFrame(array, columns=["Food","Price (USD)","Rate"])
dataframe_array

         Food Price (USD) Rate
0    Meetball           5  7.7
1  Fried Rice           3  8.0
2       Pizza        10.0  9.0

#### Pandas Series & Dataframe

In [ ]:
series1 = pd.Series(["House A", "House B", "House C"])
series2 = pd.Series([100000, 250000, 300000])

series_dataframe = pd.DataFrame({"Type of House":series1, "Price":series2})
series_dataframe

  Type of House   Price
0       House A  100000
1       House B  250000
2       House C  300000

### Read file using pandas dataframe

#### CSV File

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving insurance.csv to insurance.csv

In [ ]:
csv_file = pd.read_csv("insurance.csv")
csv_file.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

#### Excel File

In [ ]:
uploaded = files.upload()

Saving Startups Data (1).xlsx to Startups Data (1).xlsx

In [ ]:
excel_file = pd.ExcelFile("Startups Data (1).xlsx")
excel_file.sheet_names

['Overview',
 'Financials',
 '1-500 with IDs',
 'Ben CSV Export',
 '1-1000',
 '1001-2000',
 '2001-3000',
 '3001-4000',
 '4001-5000']

In [ ]:
excel_file = pd.read_excel("Startups Data (1).xlsx", sheet_name="Overview")
excel_file.head()

   ID       Name     Industry  ... State            City    Metro Area
0   1   Over-Hex     Software  ...    TN        Franklin     Nashville
1   2  Unimattax  IT Services  ...    PA  Newtown Square  Philadelphia
2   3     Lexila  Real Estate  ...    IL     Tinley Park       Chicago
3   4   Greenfax       Retail  ...    SC      Greenville  Newberry, SC
4   5     Saoace       Energy  ...    WI    New Holstein  Appleton, WI

[5 rows x 9 columns]